 /* MAin Container Start */
.main_container_contact {
    height: 135px;
    background: url('../../ContactPage/assets/images/contactbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--white);




} 
.navbar{
  
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

   
  


}

.cart-total--item {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;

    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    background-color: #8490ff;
  }
  .cart-trolley {
    position: relative;
    font-size: 3.2rem;
  }
  .Mobile_cart-trolley {
    position: relative;
    font-size: 3.2rem;
  }
  
  .Mobile_cart-total--item {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;

    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 70%;
    background-color: #8490ff;
  }
  
.NavLink {
    padding: 0 20px;
    text-decoration: none;
    color: var(--white);
    font-weight: 450;
    font-size: 20px;
    font-family: 'ubuntu' !important;
}


.NavLink:hover {
    border-bottom: 2px solid var(--Vivid-orange);
    color: var(--Vivid-orange);

}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: #fff !important;
}

.navbar .navbar-toggler:focus {
    color: var(--Vivid-orange) !important;
}

.navbar-toggler-icon {
    /* background-color: var(--white) !important; */
    border-color: var(--white) !important;
}

.navbar .navbar-toggler {
    color: #ff4444 !important;
}

.navbar-toggler .collapsed {
    color: var(--Vivid-orange) !important;
}

.navbar-toggler {
    background-color: var(--Vivid-orange) !important;
}

.navbar-toggler-icon {
    color: var(--white) !important;
}

.nav-img {
    cursor: pointer;
     
    width: 320px;
}

.mobile_version_offcanvas_nav {
    background-color: var(--Medium-blue) !important;
    background-color: #1E1E2F !important;
    
    width: 40vw;
    height: 80vh;
  }
  
.mobile_version_links {
    display: flex !important;
    flex-direction: column !important;
    padding: 10px !important;
   
}

.mobile_navlink {
    color: #3b8dbf;
    padding: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

.mobile_version_offcanvas_nav-title {
    color:#fff;
    font-size: 1.8rem !important;
}

.mobile_version_offcanvas_nav-title:hover, .mobile_navlink:hover {
    border-bottom: 2px solid var(--Vivid-orange) !important;
    color: var(--Vivid-orange) !important;
}

.mobile__navbar {
    display: none !important;
    background: none !important;
    border: none !important;
    outline: none !important;
    cursor:  pointer !important;
}
.btn:focus{
    border: none !important;
    outline: none !important;
}
.mobile_version_links {
    display: block;
    color: var(--Vivid-orange) !important;
}
.mobile__navbar:focus{
    outline: none !important;
    border: none !important;
}
button:focus{
    outline: none !important;
    border: none !important;
}
/* Navbar End */

.main_container_contact_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: var(--white);
}


.main_container_contact_content-subHeading>h3 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.main_container_contact_content-subHeading>h1 {
    text-align: center;
    font-weight: 300;
    font-size: 64px;

}

.main_container_contact_content-subHeading-span {
    font-weight: bold;
}












/* Media Query */
@media screen and (max-width: 1193px) {
    .NavLink {
        font-size: 15px;
        font-weight: 500;
    }
    
    
       .nav-img{ 
        width: 250px;
          margin-right: 30px;
          margin-left: 20px;
       }
}  
@media screen and (min-width: 768px) and (max-width: 992px) {
    .main_container_contact .navbar{
        display: flex;
       
        justify-content: space-between;
        align-items: center;
        
      }
    
     .nav-img{ 
        margin-right: 30px;
        margin-left: 20px;
     }
  } 
@media only screen and (max-width: 768px) { /* Breakpoint for mobile screens */
   .nav-img {
      width: 180px;
    }
    .main_container_contact .navbar{
        display: flex;
       
        justify-content: space-between;
        align-items: center;
        
      }
       .nav-img{ 
          margin-right: 30px;
          margin-left: 20px;
       }
  }
@media screen and (max-width: 981px) {
    body {
        margin: 0%;
        padding: 0%;
    }  
    .main_container_contact .navbar{
        display: flex;
       
        justify-content: space-between;
        align-items: center;
        
      }
    

    .NavLink {
        margin: 10px 0px;
    }

    .NavLink:hover {
        width: 50%;
    }

    .mobile__navbar {
        display: block !important;
       
    }
    .cart-trolley {
        
        font-size: 6.2rem;
      }

      .cart-total--item {
        width: 5.2rem;
        height: 5.2rem;
        font-size: 3rem;
       
      }
}
@media only screen and (max-width: 480px) {
    /* Styles for small screens */
    .main_container_contact .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
       
        justify-content: space-between;
        align-items: center;
        
      }
  }
  
@media screen and (max-width: 425px) {
    .main_container_contact_content-subHeading>h1 {
        font-size: 1.6rem;
    }
    .main_container_contact .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
       
        justify-content: space-between;
        align-items: center;
        
      }
   

        .cart-trolley {
          position: relative;
          font-size: 5.2rem;
        }

        .cart-total--item {
          width: 4.2rem;
          height: 4.2rem;
          font-size: 2rem;
          
        }

}

@media screen and (max-width: 320px) {
    .main_container_contact .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
       
        justify-content: space-between;
        align-items: center;
        
      }
    .main_container_contact_content-subHeading>h1 {
        font-size: 1.3rem;
    }
    .cart-trolley {
        
        font-size: 3.2rem;
      }

      .cart-total--item {
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1rem;
      }
}
@media screen and (min-width: 320px) and (max-width: 360px) {
    
    .main_container_contact .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
    .nav-img{
        width: 180px;
        margin-left: 20px;
        margin-right: 20px;
    }
}