.main_container_footer {
    background: url("../../assets/images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
    padding: 30px;


}

.grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem; */
    display: flex;
    gap: 50px;
}

.main_container_footer-info {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    /* gap: 20px; */
}

.main_container_footer-info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.main_container_footer-info-img {
    width: 120px;
    height: 120px;
}

.main_container_footer-sitemap {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

ul {
    display: contents;
    color: var(--white);
    list-style: none;
    line-height: 30px;
}

.main_container_footer-sitemap-options>ul {
    color: var(--white);
    list-style: none;
    line-height: 30px;
}

.main_container_footer-contact {
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
}

.main_container_footer-contact-content {
    margin: 0%;
}

.main_container_footer-office-hours {
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
    /* justify-content: center; */

}

.main_container_footer-office-hours-content {
    display: flex;
    gap: 15px;

}
.footer-bottom{
    background-color: var(--Dark-blue);
    /* height: 50px; */
    width: 100%;
    display: grid;

}
.footer-bottom-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 140px;
    text-align: center;
    /* margin: auto 40px; */
    gap: 40px;

}
.footer-bottom-links{
    color: var(--white);
    text-decoration: none;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.footer-bottom-links:hover{
    color: var(--Vivid-orange);
}



@media screen and (max-width: 1024px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .main_container_footer-info {
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

@media screen and (max-width: 425px) {

 
    .footer-bottom-content{
        display: flex;
        flex-direction: column;
        margin: 0%;
       
    }
    
    .main_container_footer-info{
        margin-left: -20px;
    }
}